div.about__left {
    display: flex;
    flex-direction: column;
    width: 65%;
    text-align: justify;
    align-items: center;
    margin: 30px 20px;
    padding: 30px 40px;
    line-height: 2;
    background-image: linear-gradient(-120deg, #d3aa3e, #d3a93e00, #d3aa3e);
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}
hr {
    border-top-color: gray;
    width: 80%;
    border-top-width: 2px;
    border-top-style: groove;
    border-right: none;
    border-left: none;
    border-bottom: none;
    margin: 15px 5px;
}

div.about__right {
    display: flex;
    flex-direction: column;
    width: 35%;
    text-align: justify;
    align-items: center;
    justify-content: center;
    margin: 30px 20px;
    padding: 30px 20px;
    line-height: 2;
    background-image: linear-gradient(120deg, #d3aa3e, #d3a93e00, #d3aa3e);
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}
.repo_img {
    height: 35px;
}
.repo__about {
    margin: 20px 10px;
    padding: 20px;
    line-height: 1.5;
}
h5 {
    float: right;
    margin: 10px 10px;
}
