.inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 10px 15px;
}
.left-col {
    background-color: #d3aa3e;
    display: flex;
    flex-direction: column;
    margin: 10px 30px;
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 5px 8px 15px gray;
    width: 60%;
}
.inner-content {
    display: flex;
    flex-direction: column;
    background-color: #f2ca63;
    border-radius: 20px;
    height: 100%;
    padding: 10px 15px;
    margin: 10px 15px;
}

.fields {
    display: flex;
    flex-direction: row;
    margin: 5px;
    justify-content: center;
    text-align: center;
}
.fields-content {
    display: flex;
    flex-direction: row;
    background-color: thistle;
    margin: 5px 5px;
    padding: 10px 5px;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}
.fields > *,
.fields-content > * {
    width: 25%;
}

.add__task {
    margin: 10px 15px;
    padding: 10px;
    background-color: #d3aa3e;
    width: 60px;
    border-radius: 10px;
    color: black;
}
.add__task:hover {
    padding: 9px;
    box-shadow: 2px 4px 10px gray;
}
.task__list__content {
    margin: 5px 0;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
}
.task-list-img {
    height: 30px;
    margin: 0 10px;
    padding: 2px;
    border-radius: 5px;
}
.task-list-img:hover {
    height: 30px;
    margin: 0 10px;
    padding: 1px;
}
