#subject-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 50px auto;
    padding: 50px;
    top: 100px;
}
form.subject__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    width: 40%;
    margin: 10px;
    background-color: #c4c4c4;
    border-radius: 20px;
}
input.subject__input {
    margin: 10px 15px;
    padding: 7px 10px;
    width: 70%;
    background-color: seashell;
    border-radius: 20px;
}
input[type="submit"] {
    width: 40%;
    background-color: #f2ca63;
    font-size: large;
    border-radius: 15px;
}
a.user__profile__button {
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 30px;
    top: 0;
}

img.profile {
    height: 50px;
}
.subject__list__content {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 40px 10px;
}
.subject__content {
    margin: 10px auto;
    padding: 10px 15px;
    line-height: 2;
    background-color: white;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.2);
}
.subject__name {
    font-size: x-large;
    font-weight: 5px;
}
.subject__desc {
    color: gray;
    margin-bottom: 10px;
}
a.edit__subject img,
a.delete__subject img {
    margin: 10px 30px;
    height: 25px;
}
